@import './styles/global.css';

#root {
  min-height: 100svh;
  display: flex;
  flex-direction: column;
}

html::-webkit-scrollbar {
  display: none;
}

html {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
